/* NUMBERS TOKENS */
:root {
  --container-padding-mobile: 16px;
  --container-padding-desktop: 32px;
  --container-max-width-desktop: 1280px;
  --spacing-0-0px: 0px;
  --spacing-0-5-2px: 2px;
  --spacing-1-4px: 4px;
  --spacing-1-5-6px: 6px;
  --spacing-2-8px: 8px;
  --spacing-3-12px: 12px;
  --spacing-4-16px: 16px;
  --spacing-5-20px: 20px;
  --spacing-6-24px: 24px;
  --spacing-8-32px: 32px;
  --spacing-10-40px: 40px;
  --spacing-12-48px: 48px;
  --spacing-16-64px: 64px;
  --spacing-20-80px: 80px;
  --spacing-24-96px: 96px;
  --spacing-32-128px: 128px;
  --spacing-40-160px: 160px;
  --spacing-48-192px: 192px;
  --spacing-56-224px: 224px;
  --spacing-64-256px: 256px;
  --spacing-80-320px: 320px;
  --spacing-96-384px: 384px;
  --spacing-120-480px: 480px;
  --spacing-140-560px: 560px;
  --spacing-160-640px: 640px;
  --spacing-180-720px: 720px;
  --spacing-192-768px: 768px;
  --spacing-256-1-024px: 1024px;
  --spacing-320-1-280px: 1280px;
  --spacing-360-1-440px: 1440px;
  --spacing-400-1-600px: 1600px;
  --spacing-480-1-920px: 1920px;
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999px;
  --spacing-none: 0px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
  --spacing-8xl: 80px;
  --spacing-9xl: 96px;
  --spacing-10xl: 128px;
  --spacing-11xl: 160px;
  --width-xxs: 320px;
  --width-xs: 384px;
  --width-sm: 480px;
  --width-md: 560px;
  --width-lg: 640px;
  --width-xl: 768px;
  --width-2xl: 1024px;
  --width-3xl: 1280px;
  --width-4xl: 1440px;
  --width-5xl: 1600px;
  --width-6xl: 1920px;
  --paragraph-max-width: 720px;
  --component-colors-alpha-alpha-white-10: #FFFFFF;
  --component-colors-alpha-alpha-white-20: #FFFFFF;
  --component-colors-alpha-alpha-white-30: #FFFFFF;
  --component-colors-alpha-alpha-white-40: #FFFFFF;
  --component-colors-alpha-alpha-white-50: #FFFFFF;
  --component-colors-alpha-alpha-white-60: #FFFFFF;
  --component-colors-alpha-alpha-white-70: #FFFFFF;
  --component-colors-alpha-alpha-white-80: #FFFFFF;
  --component-colors-alpha-alpha-white-90: #FFFFFF;
  --component-colors-alpha-alpha-white-100: #FFFFFF;
  --component-colors-alpha-alpha-black-10: #000000;
  --component-colors-alpha-alpha-black-20: #000000;
  --component-colors-alpha-alpha-black-30: #000000;
  --component-colors-alpha-alpha-black-40: #000000;
  --component-colors-alpha-alpha-black-50: #000000;
  --component-colors-alpha-alpha-black-60: #000000;
  --component-colors-alpha-alpha-black-70: #000000;
  --component-colors-alpha-alpha-black-80: #000000;
  --component-colors-alpha-alpha-black-90: #000000;
  --component-colors-alpha-alpha-black-100: #000000;
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-light-mode-50);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-light-mode-100);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-light-mode-200);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-light-mode-300);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-light-mode-400);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-light-mode-500);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-light-mode-600);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-light-mode-700);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-light-mode-800);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-light-mode-900);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-50-alt: var(--colors-brand-50);
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-100-alt: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-200-alt: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-300-alt: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-400-alt: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-500-alt: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-600-alt: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-700-alt: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-800-alt: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-900-alt: var(--colors-brand-900);
  --component-colors-utility-error-utility-error-50: var(--colors-error-50);
  --component-colors-utility-error-utility-error-100: var(--colors-error-100);
  --component-colors-utility-error-utility-error-200: var(--colors-error-200);
  --component-colors-utility-error-utility-error-300: var(--colors-error-300);
  --component-colors-utility-error-utility-error-400: var(--colors-error-400);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-600: var(--colors-error-600);
  --component-colors-utility-error-utility-error-700: var(--colors-error-700);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-50);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-100);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-200);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-300);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-700);
  --component-colors-utility-success-utility-success-50: var(--colors-success-50);
  --component-colors-utility-success-utility-success-100: var(--colors-success-100);
  --component-colors-utility-success-utility-success-200: var(--colors-success-200);
  --component-colors-utility-success-utility-success-300: var(--colors-success-300);
  --component-colors-utility-success-utility-success-400: var(--colors-success-400);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-600: var(--colors-success-600);
  --component-colors-utility-success-utility-success-700: var(--colors-success-700);
  --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-50);
  --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-100);
  --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-200);
  --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-300);
  --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-400);
  --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-600);
  --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-700);
  --component-colors-utility-green-utility-green-50: var(--colors-green-50);
  --component-colors-utility-green-utility-green-100: var(--colors-green-100);
  --component-colors-utility-green-utility-green-200: var(--colors-green-200);
  --component-colors-utility-green-utility-green-300: var(--colors-green-300);
  --component-colors-utility-green-utility-green-400: var(--colors-green-400);
  --component-colors-utility-green-utility-green-500: var(--colors-green-500);
  --component-colors-utility-green-utility-green-600: var(--colors-green-600);
  --component-colors-utility-green-utility-green-700: var(--colors-green-700);
  --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-50);
  --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-100);
  --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-200);
  --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-300);
  --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-400);
  --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-600);
  --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-700);
  --component-colors-utility-blue-utility-blue-50: var(--colors-blue-50);
  --component-colors-utility-blue-utility-blue-100: var(--colors-blue-100);
  --component-colors-utility-blue-utility-blue-200: var(--colors-blue-200);
  --component-colors-utility-blue-utility-blue-300: var(--colors-blue-300);
  --component-colors-utility-blue-utility-blue-400: var(--colors-blue-400);
  --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500);
  --component-colors-utility-blue-utility-blue-600: var(--colors-blue-600);
  --component-colors-utility-blue-utility-blue-700: var(--colors-blue-700);
  --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-50);
  --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-100);
  --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-200);
  --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-300);
  --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-400);
  --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500);
  --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-600);
  --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-700);
  --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-50);
  --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-100);
  --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-200);
  --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-300);
  --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-400);
  --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500);
  --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-600);
  --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-700);
  --component-colors-utility-purple-utility-purple-50: var(--colors-purple-50);
  --component-colors-utility-purple-utility-purple-100: var(--colors-purple-100);
  --component-colors-utility-purple-utility-purple-200: var(--colors-purple-200);
  --component-colors-utility-purple-utility-purple-300: var(--colors-purple-300);
  --component-colors-utility-purple-utility-purple-400: var(--colors-purple-400);
  --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500);
  --component-colors-utility-purple-utility-purple-600: var(--colors-purple-600);
  --component-colors-utility-purple-utility-purple-700: var(--colors-purple-700);
  --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-50);
  --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-100);
  --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-200);
  --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-300);
  --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-400);
  --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500);
  --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-600);
  --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-700);
  --component-colors-utility-pink-utility-pink-50: var(--colors-pink-50);
  --component-colors-utility-pink-utility-pink-100: var(--colors-pink-100);
  --component-colors-utility-pink-utility-pink-200: var(--colors-pink-200);
  --component-colors-utility-pink-utility-pink-300: var(--colors-pink-300);
  --component-colors-utility-pink-utility-pink-400: var(--colors-pink-400);
  --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500);
  --component-colors-utility-pink-utility-pink-600: var(--colors-pink-600);
  --component-colors-utility-pink-utility-pink-700: var(--colors-pink-700);
  --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-50);
  --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-100);
  --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-200);
  --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-300);
  --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-400);
  --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500);
  --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-600);
  --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-700);
  --component-colors-utility-orange-utility-orange-50: var(--colors-orange-50);
  --component-colors-utility-orange-utility-orange-100: var(--colors-orange-100);
  --component-colors-utility-orange-utility-orange-200: var(--colors-orange-200);
  --component-colors-utility-orange-utility-orange-300: var(--colors-orange-300);
  --component-colors-utility-orange-utility-orange-400: var(--colors-orange-400);
  --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500);
  --component-colors-utility-orange-utility-orange-600: var(--colors-orange-600);
  --component-colors-utility-orange-utility-orange-700: var(--colors-orange-700);
  --component-colors-utility-yellow-utility-yellow-50: var(--colors-yellow-50);
  --component-colors-utility-yellow-utility-yellow-100: var(--colors-yellow-100);
  --component-colors-utility-yellow-utility-yellow-200: var(--colors-yellow-200);
  --component-colors-utility-yellow-utility-yellow-300: var(--colors-yellow-300);
  --component-colors-utility-yellow-utility-yellow-400: var(--colors-yellow-400);
  --component-colors-utility-yellow-utility-yellow-500: var(--colors-yellow-500);
  --component-colors-utility-yellow-utility-yellow-600: var(--colors-yellow-600);
  --component-colors-utility-yellow-utility-yellow-700: var(--colors-yellow-700);
  --component-colors-components-app-store-badges-app-store-badge-border: #A6A6A6;
  --component-colors-components-avatars-avatar-styles-bg-neutral: #E0E0E0;
  --component-colors-components-buttons-button-primary-icon: var(--colors-brand-300);
  --component-colors-components-buttons-button-primary-icon-hover: var(--colors-brand-200);
  --component-colors-components-buttons-button-destructive-primary-icon: var(--colors-error-300);
  --component-colors-components-buttons-button-destructive-primary-icon-hover: var(--colors-error-200);
  --component-colors-components-footers-footer-button-fg: var(--colors-brand-200);
  --component-colors-components-footers-footer-button-fg-hover: var(--colors-base-white);
  --component-colors-components-icons-icons-icon-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-icons-icon-fg-brand-on-brand: var(--colors-brand-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-brand: var(--colors-brand-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-gray: var(--colors-gray-light-mode-500);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-error: var(--colors-error-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-warning: var(--colors-warning-600);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-success: var(--colors-success-600);
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-light-mode-900);
  --component-colors-components-sliders-slider-handle-bg: var(--colors-base-white);
  --component-colors-components-sliders-slider-handle-border: var(--colors-brand-600);
  --component-colors-components-toggles-toggle-button-fg-disabled: var(--colors-gray-light-mode-50);
  --component-colors-components-toggles-toggle-border: var(--colors-gray-light-mode-300);
  --component-colors-components-toggles-toggle-slim-border-pressed: {Colors.Background.bg-brand-solid};
  --component-colors-components-toggles-toggle-slim-border-pressed-hover: {Colors.Background.bg-brand-solid_hover};
  --component-colors-components-tooltips-tooltip-supporting-text: var(--colors-gray-light-mode-300);
  --component-colors-components-text-editor-text-editor-icon-fg: var(--colors-gray-light-mode-400);
  --component-colors-components-text-editor-text-editor-icon-fg-active: var(--colors-gray-light-mode-500);
}

[data-theme="dark"] {
  --component-colors-alpha-alpha-white-10: #0C0E12;
  --component-colors-alpha-alpha-white-20: #0C0E12;
  --component-colors-alpha-alpha-white-30: #0C0E12;
  --component-colors-alpha-alpha-white-40: #0C0E12;
  --component-colors-alpha-alpha-white-50: #0C0E12;
  --component-colors-alpha-alpha-white-60: #0C0E12;
  --component-colors-alpha-alpha-white-70: #0C0E12;
  --component-colors-alpha-alpha-white-80: #0C0E12;
  --component-colors-alpha-alpha-white-90: #0C0E12;
  --component-colors-alpha-alpha-white-100: var(--colors-gray-dark-mode-950);
  --component-colors-alpha-alpha-black-10: #FFFFFF;
  --component-colors-alpha-alpha-black-20: #FFFFFF;
  --component-colors-alpha-alpha-black-30: #FFFFFF;
  --component-colors-alpha-alpha-black-40: #FFFFFF;
  --component-colors-alpha-alpha-black-50: #FFFFFF;
  --component-colors-alpha-alpha-black-60: #FFFFFF;
  --component-colors-alpha-alpha-black-70: #FFFFFF;
  --component-colors-alpha-alpha-black-80: #FFFFFF;
  --component-colors-alpha-alpha-black-90: #FFFFFF;
  --component-colors-alpha-alpha-black-100: #FFFFFF;
  --component-colors-utility-gray-utility-gray-50: var(--colors-gray-dark-mode-900);
  --component-colors-utility-gray-utility-gray-100: var(--colors-gray-dark-mode-800);
  --component-colors-utility-gray-utility-gray-200: var(--colors-gray-dark-mode-700);
  --component-colors-utility-gray-utility-gray-300: var(--colors-gray-dark-mode-700);
  --component-colors-utility-gray-utility-gray-400: var(--colors-gray-dark-mode-600);
  --component-colors-utility-gray-utility-gray-500: var(--colors-gray-dark-mode-500);
  --component-colors-utility-gray-utility-gray-600: var(--colors-gray-dark-mode-400);
  --component-colors-utility-gray-utility-gray-700: var(--colors-gray-dark-mode-300);
  --component-colors-utility-gray-utility-gray-800: var(--colors-gray-dark-mode-200);
  --component-colors-utility-gray-utility-gray-900: var(--colors-gray-dark-mode-100);
  --component-colors-utility-brand-utility-brand-50: var(--colors-brand-950);
  --component-colors-utility-brand-utility-brand-50-alt: {Component colors.Utility.Gray.utility-gray-50};
  --component-colors-utility-brand-utility-brand-100: var(--colors-brand-900);
  --component-colors-utility-brand-utility-brand-100-alt: {Component colors.Utility.Gray.utility-gray-100};
  --component-colors-utility-brand-utility-brand-200: var(--colors-brand-800);
  --component-colors-utility-brand-utility-brand-200-alt: {Component colors.Utility.Gray.utility-gray-200};
  --component-colors-utility-brand-utility-brand-300: var(--colors-brand-700);
  --component-colors-utility-brand-utility-brand-300-alt: {Component colors.Utility.Gray.utility-gray-300};
  --component-colors-utility-brand-utility-brand-400: var(--colors-brand-600);
  --component-colors-utility-brand-utility-brand-400-alt: {Component colors.Utility.Gray.utility-gray-400};
  --component-colors-utility-brand-utility-brand-500: var(--colors-brand-500);
  --component-colors-utility-brand-utility-brand-500-alt: {Component colors.Utility.Gray.utility-gray-500};
  --component-colors-utility-brand-utility-brand-600: var(--colors-brand-400);
  --component-colors-utility-brand-utility-brand-600-alt: {Component colors.Utility.Gray.utility-gray-600};
  --component-colors-utility-brand-utility-brand-700: var(--colors-brand-300);
  --component-colors-utility-brand-utility-brand-700-alt: {Component colors.Utility.Gray.utility-gray-700};
  --component-colors-utility-brand-utility-brand-800: var(--colors-brand-200);
  --component-colors-utility-brand-utility-brand-800-alt: {Component colors.Utility.Gray.utility-gray-800};
  --component-colors-utility-brand-utility-brand-900: var(--colors-brand-100);
  --component-colors-utility-brand-utility-brand-900-alt: {Component colors.Utility.Gray.utility-gray-900};
  --component-colors-utility-error-utility-error-50: var(--colors-error-950);
  --component-colors-utility-error-utility-error-100: var(--colors-error-900);
  --component-colors-utility-error-utility-error-200: var(--colors-error-800);
  --component-colors-utility-error-utility-error-300: var(--colors-error-700);
  --component-colors-utility-error-utility-error-400: var(--colors-error-600);
  --component-colors-utility-error-utility-error-500: var(--colors-error-500);
  --component-colors-utility-error-utility-error-600: var(--colors-error-400);
  --component-colors-utility-error-utility-error-700: var(--colors-error-300);
  --component-colors-utility-warning-utility-warning-50: var(--colors-warning-950);
  --component-colors-utility-warning-utility-warning-100: var(--colors-warning-900);
  --component-colors-utility-warning-utility-warning-200: var(--colors-warning-800);
  --component-colors-utility-warning-utility-warning-300: var(--colors-warning-700);
  --component-colors-utility-warning-utility-warning-400: var(--colors-warning-600);
  --component-colors-utility-warning-utility-warning-500: var(--colors-warning-500);
  --component-colors-utility-warning-utility-warning-600: var(--colors-warning-400);
  --component-colors-utility-warning-utility-warning-700: var(--colors-warning-300);
  --component-colors-utility-success-utility-success-50: var(--colors-success-950);
  --component-colors-utility-success-utility-success-100: var(--colors-success-900);
  --component-colors-utility-success-utility-success-200: var(--colors-success-800);
  --component-colors-utility-success-utility-success-300: var(--colors-success-700);
  --component-colors-utility-success-utility-success-400: var(--colors-success-600);
  --component-colors-utility-success-utility-success-500: var(--colors-success-500);
  --component-colors-utility-success-utility-success-600: var(--colors-success-400);
  --component-colors-utility-success-utility-success-700: var(--colors-success-300);
  --component-colors-utility-gray-blue-utility-gray-blue-50: var(--colors-gray-blue-950);
  --component-colors-utility-gray-blue-utility-gray-blue-100: var(--colors-gray-blue-900);
  --component-colors-utility-gray-blue-utility-gray-blue-200: var(--colors-gray-blue-800);
  --component-colors-utility-gray-blue-utility-gray-blue-300: var(--colors-gray-blue-700);
  --component-colors-utility-gray-blue-utility-gray-blue-400: var(--colors-gray-blue-600);
  --component-colors-utility-gray-blue-utility-gray-blue-500: var(--colors-gray-blue-500);
  --component-colors-utility-gray-blue-utility-gray-blue-600: var(--colors-gray-blue-400);
  --component-colors-utility-gray-blue-utility-gray-blue-700: var(--colors-gray-blue-300);
  --component-colors-utility-green-utility-green-50: var(--colors-green-950);
  --component-colors-utility-green-utility-green-100: var(--colors-green-900);
  --component-colors-utility-green-utility-green-200: var(--colors-green-800);
  --component-colors-utility-green-utility-green-300: var(--colors-green-700);
  --component-colors-utility-green-utility-green-400: var(--colors-green-600);
  --component-colors-utility-green-utility-green-500: var(--colors-green-500);
  --component-colors-utility-green-utility-green-600: var(--colors-green-400);
  --component-colors-utility-green-utility-green-700: var(--colors-green-300);
  --component-colors-utility-blue-light-utility-blue-light-50: var(--colors-blue-light-950);
  --component-colors-utility-blue-light-utility-blue-light-100: var(--colors-blue-light-900);
  --component-colors-utility-blue-light-utility-blue-light-200: var(--colors-blue-light-800);
  --component-colors-utility-blue-light-utility-blue-light-300: var(--colors-blue-light-700);
  --component-colors-utility-blue-light-utility-blue-light-400: var(--colors-blue-light-600);
  --component-colors-utility-blue-light-utility-blue-light-500: var(--colors-blue-light-500);
  --component-colors-utility-blue-light-utility-blue-light-600: var(--colors-blue-light-400);
  --component-colors-utility-blue-light-utility-blue-light-700: var(--colors-blue-light-300);
  --component-colors-utility-blue-utility-blue-50: var(--colors-blue-950);
  --component-colors-utility-blue-utility-blue-100: var(--colors-blue-900);
  --component-colors-utility-blue-utility-blue-200: var(--colors-blue-800);
  --component-colors-utility-blue-utility-blue-300: var(--colors-blue-700);
  --component-colors-utility-blue-utility-blue-400: var(--colors-blue-600);
  --component-colors-utility-blue-utility-blue-500: var(--colors-blue-500);
  --component-colors-utility-blue-utility-blue-600: var(--colors-blue-400);
  --component-colors-utility-blue-utility-blue-700: var(--colors-blue-300);
  --component-colors-utility-blue-dark-utility-blue-dark-50: var(--colors-blue-dark-950);
  --component-colors-utility-blue-dark-utility-blue-dark-100: var(--colors-blue-dark-900);
  --component-colors-utility-blue-dark-utility-blue-dark-200: var(--colors-blue-dark-800);
  --component-colors-utility-blue-dark-utility-blue-dark-300: var(--colors-blue-dark-700);
  --component-colors-utility-blue-dark-utility-blue-dark-400: var(--colors-blue-dark-600);
  --component-colors-utility-blue-dark-utility-blue-dark-500: var(--colors-blue-dark-500);
  --component-colors-utility-blue-dark-utility-blue-dark-600: var(--colors-blue-dark-400);
  --component-colors-utility-blue-dark-utility-blue-dark-700: var(--colors-blue-dark-300);
  --component-colors-utility-indigo-utility-indigo-50: var(--colors-indigo-950);
  --component-colors-utility-indigo-utility-indigo-100: var(--colors-indigo-900);
  --component-colors-utility-indigo-utility-indigo-200: var(--colors-indigo-800);
  --component-colors-utility-indigo-utility-indigo-300: var(--colors-indigo-700);
  --component-colors-utility-indigo-utility-indigo-400: var(--colors-indigo-600);
  --component-colors-utility-indigo-utility-indigo-500: var(--colors-indigo-500);
  --component-colors-utility-indigo-utility-indigo-600: var(--colors-indigo-400);
  --component-colors-utility-indigo-utility-indigo-700: var(--colors-indigo-300);
  --component-colors-utility-purple-utility-purple-50: var(--colors-purple-950);
  --component-colors-utility-purple-utility-purple-100: var(--colors-purple-900);
  --component-colors-utility-purple-utility-purple-200: var(--colors-purple-800);
  --component-colors-utility-purple-utility-purple-300: var(--colors-purple-700);
  --component-colors-utility-purple-utility-purple-400: var(--colors-purple-600);
  --component-colors-utility-purple-utility-purple-500: var(--colors-purple-500);
  --component-colors-utility-purple-utility-purple-600: var(--colors-purple-400);
  --component-colors-utility-purple-utility-purple-700: var(--colors-purple-300);
  --component-colors-utility-fuchsia-utility-fuchsia-50: var(--colors-fuchsia-950);
  --component-colors-utility-fuchsia-utility-fuchsia-100: var(--colors-fuchsia-900);
  --component-colors-utility-fuchsia-utility-fuchsia-200: var(--colors-fuchsia-800);
  --component-colors-utility-fuchsia-utility-fuchsia-300: var(--colors-fuchsia-700);
  --component-colors-utility-fuchsia-utility-fuchsia-400: var(--colors-fuchsia-600);
  --component-colors-utility-fuchsia-utility-fuchsia-500: var(--colors-fuchsia-500);
  --component-colors-utility-fuchsia-utility-fuchsia-600: var(--colors-fuchsia-400);
  --component-colors-utility-fuchsia-utility-fuchsia-700: var(--colors-fuchsia-300);
  --component-colors-utility-pink-utility-pink-50: var(--colors-pink-950);
  --component-colors-utility-pink-utility-pink-100: var(--colors-pink-900);
  --component-colors-utility-pink-utility-pink-200: var(--colors-pink-800);
  --component-colors-utility-pink-utility-pink-300: var(--colors-pink-700);
  --component-colors-utility-pink-utility-pink-400: var(--colors-pink-600);
  --component-colors-utility-pink-utility-pink-500: var(--colors-pink-500);
  --component-colors-utility-pink-utility-pink-600: var(--colors-pink-400);
  --component-colors-utility-pink-utility-pink-700: var(--colors-pink-300);
  --component-colors-utility-orange-dark-utility-orange-dark-50: var(--colors-orange-dark-950);
  --component-colors-utility-orange-dark-utility-orange-dark-100: var(--colors-orange-dark-900);
  --component-colors-utility-orange-dark-utility-orange-dark-200: var(--colors-orange-dark-800);
  --component-colors-utility-orange-dark-utility-orange-dark-300: var(--colors-orange-dark-700);
  --component-colors-utility-orange-dark-utility-orange-dark-400: var(--colors-orange-dark-600);
  --component-colors-utility-orange-dark-utility-orange-dark-500: var(--colors-orange-dark-500);
  --component-colors-utility-orange-dark-utility-orange-dark-600: var(--colors-orange-dark-400);
  --component-colors-utility-orange-dark-utility-orange-dark-700: var(--colors-orange-dark-300);
  --component-colors-utility-orange-utility-orange-50: var(--colors-orange-950);
  --component-colors-utility-orange-utility-orange-100: var(--colors-orange-900);
  --component-colors-utility-orange-utility-orange-200: var(--colors-orange-800);
  --component-colors-utility-orange-utility-orange-300: var(--colors-orange-700);
  --component-colors-utility-orange-utility-orange-400: var(--colors-orange-600);
  --component-colors-utility-orange-utility-orange-500: var(--colors-orange-500);
  --component-colors-utility-orange-utility-orange-600: var(--colors-orange-400);
  --component-colors-utility-orange-utility-orange-700: var(--colors-orange-300);
  --component-colors-utility-yellow-utility-yellow-50: var(--colors-yellow-950);
  --component-colors-utility-yellow-utility-yellow-100: var(--colors-yellow-900);
  --component-colors-utility-yellow-utility-yellow-200: var(--colors-yellow-800);
  --component-colors-utility-yellow-utility-yellow-300: var(--colors-yellow-700);
  --component-colors-utility-yellow-utility-yellow-400: var(--colors-yellow-600);
  --component-colors-utility-yellow-utility-yellow-500: var(--colors-yellow-500);
  --component-colors-utility-yellow-utility-yellow-600: var(--colors-yellow-400);
  --component-colors-utility-yellow-utility-yellow-700: var(--colors-yellow-300);
  --component-colors-components-app-store-badges-app-store-badge-border: var(--colors-base-white);
  --component-colors-components-avatars-avatar-styles-bg-neutral: #E0E0E0;
  --component-colors-components-buttons-button-primary-icon: var(--colors-brand-300);
  --component-colors-components-buttons-button-primary-icon-hover: var(--colors-brand-200);
  --component-colors-components-buttons-button-destructive-primary-icon: var(--colors-error-300);
  --component-colors-components-buttons-button-destructive-primary-icon-hover: var(--colors-error-200);
  --component-colors-components-footers-footer-button-fg: var(--colors-gray-dark-mode-300);
  --component-colors-components-footers-footer-button-fg-hover: var(--colors-gray-dark-mode-100);
  --component-colors-components-icons-icons-icon-fg-brand: var(--colors-gray-dark-mode-400);
  --component-colors-components-icons-icons-icon-fg-brand-on-brand: var(--colors-gray-dark-mode-400);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-brand: var(--colors-brand-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-gray: var(--colors-gray-dark-mode-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-error: var(--colors-error-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-warning: var(--colors-warning-200);
  --component-colors-components-icons-featured-icons-featured-icon-light-fg-success: var(--colors-success-200);
  --component-colors-components-mockups-screen-mockup-border: var(--colors-gray-dark-mode-700);
  --component-colors-components-sliders-slider-handle-bg: {Colors.Foreground.fg-brand-primary (600)};
  --component-colors-components-sliders-slider-handle-border: {Colors.Background.bg-primary};
  --component-colors-components-toggles-toggle-button-fg-disabled: var(--colors-gray-dark-mode-600);
  --component-colors-components-toggles-toggle-border: var(--colors-base-transparent);
  --component-colors-components-toggles-toggle-slim-border-pressed: var(--colors-base-transparent);
  --component-colors-components-toggles-toggle-slim-border-pressed-hover: var(--colors-base-transparent);
  --component-colors-components-tooltips-tooltip-supporting-text: var(--colors-gray-dark-mode-300);
  --component-colors-components-text-editor-text-editor-icon-fg: var(--colors-gray-dark-mode-400);
  --component-colors-components-text-editor-text-editor-icon-fg-active: var(--colors-base-white);
}
