/* TYPOGRAPHY TOKENS */
:root {
  --font-family-font-family-display: Inter;
  --font-family-font-family-body: Inter;
  --font-weight-regular: Regular;
  --font-weight-regular-italic: Regular italic;
  --font-weight-medium: Medium;
  --font-weight-medium-italic: Medium italic;
  --font-weight-semibold: Semibold;
  --font-weight-semibold-italic: Semibold italic;
  --font-weight-bold: Bold;
  --font-weight-bold-italic: Bold italic;
  --font-size-text-xs: 12px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-display-xs: 24px;
  --font-size-display-sm: 30px;
  --font-size-display-md: 36px;
  --font-size-display-lg: 48px;
  --font-size-display-xl: 60px;
  --font-size-display-2xl: 72px;
  --line-height-text-xs: 18px;
  --line-height-text-sm: 20px;
  --line-height-text-md: 24px;
  --line-height-text-lg: 28px;
  --line-height-text-xl: 30px;
  --line-height-display-xs: 32px;
  --line-height-display-sm: 38px;
  --line-height-display-md: 44px;
  --line-height-display-lg: 60px;
  --line-height-display-xl: 72px;
  --line-height-display-2xl: 90px;
}
