.button-group {
    display: inline-flex;
    position: relative;
    isolation: isolate;
}

/* === HORIZONTAL ORIENTATION (default) === */

.button-group--horizontal {
    flex-direction: row;
}

/* Remove border radius from middle buttons */
.button-group--horizontal> :not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}

/* First button - only right radius removed */
.button-group--horizontal> :first-child:not(:only-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Last button - only left radius removed */
.button-group--horizontal> :last-child:not(:only-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* Remove duplicate borders */
.button-group--horizontal>*+* {
    margin-left: -1px;
}

/* === VERTICAL ORIENTATION === */

.button-group--vertical {
    flex-direction: column;
}

/* Remove border radius from middle buttons */
.button-group--vertical> :not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}

/* First button - only bottom radius removed */
.button-group--vertical> :first-child:not(:only-child) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Last button - only top radius removed */
.button-group--vertical> :last-child:not(:only-child) {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

/* Remove duplicate borders */
.button-group--vertical>*+* {
    margin-top: -1px;
}

/* === FULL WIDTH === */

.button-group--full-width {
    width: 100%;
}

.button-group--full-width.button-group--horizontal>* {
    flex: 1;
}

.button-group--full-width.button-group--vertical {
    display: flex;
}

.button-group--full-width.button-group--vertical>* {
    width: 100%;
}

/* === FOCUS STATE HANDLING === */

/* Bring focused button to front */
.button-group> :focus {
    position: relative;
    z-index: 1;
}

/* Bring hovered button to front */
.button-group> :hover {
    position: relative;
    z-index: 1;
}

/* === ACTIVE/CURRENT STATE === */

/* For primary hierarchy buttons in groups (active state) */
.button-group>.button--primary {
    position: relative;
    z-index: 2;
}

/* === ENSURE BUTTONS ALIGN === */

.button-group>* {
    flex-shrink: 0;
}